<%= partial "HTML_Partials/global/head" %>

	<a href="#main" role="link" title="Skip to main content" class="skipNavigation">Skip to main content</a>

	<div id="js-smooth-state" class="m-scene">

		<%= partial "HTML_Partials/global/header" %>

	    <%= partial "HTML_Partials/page-heading" %>

	    	<main class="main scene_element scene_element--fadeinup">

	    		<div class="container">

	    			<%= yield %>

	    		</div>

	        </main>

		<%= partial "HTML_Partials/global/footer" %>

	</div>

<%= partial "HTML_Partials/global/foot" %>