<% @pageTitle = "Speed & Agility Workout" %>
<% @pageDescription = "" %>
<% @pageHeading = "Speed & Agility Workout" %>
<% @pageTagline = "A fitness workout from Fitness blender to help train for basketball" %>

<% content_for :fbopengraph do %>
<meta property="og:url" content="<%= @siteUrl %>/about" />
<meta property="og:title" content="<%= @pageTitle %>" />
<% end %>

<% content_for :twittercard do %>
<meta name="twitter:url" content="<%= @siteUrl %>/about">
<meta name="twitter:title" content="<%= @pageTitle %>">
<meta name="twitter:description" content="<%= @pageDescription %>">
<% end %>

<article class="article article--full" role="article">

	<p class="article__intro">The following videos are part of a workout put together by Fitness Blender to help improve speed and agility.</p>

	<div class="article__content">

		<p><strong>How to:</strong></p>
		<ol>
			<li>Start with 15 minutes of cardio to warm the muscles and help prevent injury and strains.</li>
			<li>Do each exercise for the set number of reps.  Make sure to repeat on both sides of the body where necessary.</li>
			<li>Do the entire workout 2 to 3 times through</li>
			<li>Stretch thoroughly.</li>
		</ol>

		<h3 class="video-title">15 x Single Leg Lateral Hops (on each leg)</h3>
		<div class="video-wrapper">
			<iframe width="100%" src="//www.youtube.com/embed/CMkuOg3Krtg?showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>

		<h3 class="video-title">15 x Squat Jumps</h3>
		<div class="video-wrapper">
			<iframe width="100%" src="//www.youtube.com/embed/CVaEhXotL7M?showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>

		<h3 class="video-title">15 x Single Leg Ventral Hops (on each leg)</h3>
		<div class="video-wrapper">
			<iframe width="100%" src="//www.youtube.com/embed/A8k0EVaB59Q?showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>

		<h3 class="video-title">15 x Burpees - L2</h3>
		<div class="video-wrapper">
			<iframe width="100%" src="//www.youtube.com/embed/myFyP5gr4_s?showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>

		<h3 class="video-title">15 x Lateral Jumps - L2</h3>
		<div class="video-wrapper">
			<iframe width="100%" src="//www.youtube.com/embed/scWvUN5RFys?showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>

		<h3 class="video-title">15 x Jumping Lunges (alternating)</h3>
		<div class="video-wrapper">
			<iframe width="100%" src="//www.youtube.com/embed/cIkkHg8YZQU?showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>

		<h3 class="video-title">15 x Agility Dots - L2 (each leg)</h3>
		<div class="video-wrapper">
			<iframe width="100%" src="//www.youtube.com/embed/7d-zF0rrZ_0?showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>

		<h3 class="video-title">15 x Mountain Climbers - L2</h3>
		<div class="video-wrapper">
			<iframe width="100%" src="//www.youtube.com/embed/IzNHN06_sJ0?showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>

		<p><em>Repeat 2 - 3 times before cool down</em></p>

	</div>

</article>