<!DOCTYPE html>
<!--[if lt IE 7]><html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />

        <!--[if lt IE 9]>
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <![endif]-->

        <title><%= @pageTitle %> | Tom Gillard - Melbourne web designer/developer</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/core/apple-touch-icon-144x144-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/core/apple-touch-icon-114x114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/core/apple-touch-icon-72x72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/img/core/apple-touch-icon-72x72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" href="/img/core/apple-touch-icon-precomposed.png" />

        <link rel="shortcut icon" href="/favicon.ico" />

        <%= stylesheet_link_tag "style.css" %>

        <!-- General SEO -->
        <meta name="description" content="<%= @pageDescription %>" />

        <!-- Facebook Open Graph tags -->
        <meta property="og:image" content="/img/elements/profile-large.png" />
        <meta property="og:site_name" content="Tom Gillard" />
        <meta property="og:type" content="blog" />
        <%= yield_content :fbopengraph %>

        <!-- Twitter Card -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:creator" content="@tom_gillard">
        <%= yield_content :twittercard %>

        <%= yield_content :head %>

        <!--[if lt IE 9]>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
        <![endif]-->

    </head>
    <body id="js-smooth-state" class="m-scene">
        <!--[if lt IE 8]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->